body {
    font-family: "Bebas Neue", Times, serif;
    background-color: rgb(255, 255, 255);
    width: fit-content;
}

.header-container {
    text-align: center;
    background-color: azure;
    padding-bottom: 5px;
    border: 3px black solid;
}

h1 {
    font-size: 50px;
    background-color: black;
    color:rgb(255, 255, 255);
    width: 100%;
    height: auto;
    padding-top: 10px;
}

.recipes {
    background-color:azure;
    font-size: 33px;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
    border: 3px black solid;
}

li {
    /* border: 1px black dashed; */
    margin: 20px;
    padding: 10px;
}

#frontpic {
    width: 75%;
    height: auto;
    border: 8px rgb(0, 0, 0) solid;
}