body {
    font-family: "Bebas Neue", Times, serif;
    background-color: rgb(255, 255, 255);
}

.header-container {
    text-align: center;
    background-color: azure;
    border: 3px black solid;
}

a, p, ol, ul {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.frontpic {
    width: 60%;
    height: auto;
    border: solid black 3px;
    transform: rotate(90deg);
    margin-top: -70px;
    margin-bottom: -40px;
}

.description, .ingredients, .steps {
    background-color: azure;
    border: 3px black solid;
    padding: 20px;
    margin: 4px;
}

.ref {
    background-color:blanchedalmond;
    border: 3px black solid;
    padding: 20px;
    margin: 4px;
}